<?xml version="1.0" encoding="UTF-8"?>
<plugin
    id="com.haarer.saf.mcpserver"
    name="Cameo SAF MCP Server"
    version="${version}"
    provider-name="Alexander Haarer"
    class="com.haarer.saf.mcpserver.CameoMcpServerPlugin">
    <requires>
        <api version="1.0"/>
        <required-plugin id="AutomatonPlugin" name="Automaton" version="${automatonVersion}"/>
    </requires>
    <runtime>
        <library name="cameo-saf-mcp-server-${version}.jar"/>
    </runtime>
</plugin>
